<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
<a href="#" class="a">Hello</a>
<script type="application/javascript">
    const addListener = (eventName, target, fn) => {
        debugger;
        target.addEventListener(eventName, fn)
    }

    addListener('click', document.querySelector('a'), () => console.log('Hello'))
</script>
</body>
</html>
