<div id="loading-block">Загрузка...</div>
<div id="filter-block" style="display: none;">
    <input type="text" placeholder="название города" id="filter-input">

    <div id="filter-result"></div>
</div>

<div id="reload_wrapper" style="display: none;">
    <p>Не удалось загрузить города</p>
    <button id="reload_btn">Повторить</button>
</div>
